<div class="expert-box">
  <h1 hidden>Experts</h1>

  <div class="search-expert my-2">
    <div class="d-flex align-items-center gap-3">
      <label for="expert-name" class="text-nowrap fs-3">Search Expert</label>
      <div class="input-group">
        <input
          class="search-input p-1 w-100"
          type="text"
          id="expert-name"
          placeholder="Search name or skills"
          aria-label="ExpertName"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="display-flex-2">
        <button id="search-expert" class="btn btn-secondary">Search</button>
      </div>
    </div>
  </div>
  <p class="text-center fs-4 m-2" id="search-error" hidden>
    {{#if error}}{{ error }}{{/if}}
  </p>
  {{#if experts}}
  {{#each experts}}
  <ul id="experts-list" class="p-0 d-flex gap-3 my-4">
    <li class="expert card shadow p-4" id="{{ this._id }}">
      <p class="text-capitalize">
        <strong>Name:</strong> {{ this.user.firstName }}
        {{ this.user.lastName }}
      </p>
      <p><strong>Username:</strong> {{ this.user.userName }}</p>
      <p><strong>Email:</strong> {{ this.user.email }}</p>
      <p>
        <strong>Address:</strong> {{#if this.user.address }}
        {{ this.user.address }} {{else}} No record {{/if}}
      </p>
      <img src="{{ this.user.avatar }}" alt="{{ this.user.userName }}" />
    </li>
  </ul>
  {{/each}}
  {{else}}
  <p class="text-center fs-3">No experts found.</p>
  {{/if}}

  <script>
    const experts = {{{json experts}}}
    const error = "{{{json error}}}"
  </script>
  <script src="/scripts/expertSearch.js"></script>
</div>
