<div class="expert-box">
  <h1>Experts</h1>

  <div class="display-flex-2">
    <button id="show-all-experts" class="btn btn-primary">
      Show All Experts
    </button>
  </div>

  <div class="search-expert">
    <label for="expert-name">Search Expert by Name</label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input
        class="search-input"
        type="text"
        id="expert-name"
        placeholder="Enter name"
        aria-label="ExpertName"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="display-flex-2">
      <button id="search-expert" class="btn btn-secondary">Search</button>
    </div>
  </div>

  {{#if error}}
  <p class="error-message">{{ error }}</p>
  {{else}}
  <ul id="experts-list" class="p-0 d-flex gap-3">
    {{#if experts}}
    {{#each experts}}
    <li class="expert card shadow p-4" id="{{ this._id }}">
      <p>
        <strong>Name:</strong> {{ this.user.firstName }}
        {{ this.user.lastName }}
      </p>
      <p><strong>Username:</strong> {{ this.user.userName }}</p>
      <p><strong>Email:</strong> {{ this.user.email }}</p>
      <p><strong>Address:</strong> {{ this.user.address }}</p>
      <img src="{{ this.user.avatar }}" alt="{{ this.user.userName }}" />
    </li>
    {{/each}}
    {{else}}
    <p>No experts found.</p>
    {{/if}}
  </ul>
  {{/if}}

  <script>
    const experts = {{{json experts}}}
  </script>
  <script src="/scripts/expertSearch.js"></script>
</div>
