<div class="container">
  <!-- Return to Homepage Link -->
  <a href="/">Return to Homepage</a>
  <!-- Car Details -->
  <h1>{{ listing.title }}</h1>
  <h1 class="fs-3 text-secondary">
    {{ car.make }} {{ car.model }} ({{ car.year }})
  </h1>
  <img src="{{ listing.image }}" alt="Image of {{ car.make }}
  {{ car.model }} class="listing-display-image"">
  <h2 class="text-success">Price: {{ listing.price }}</h2>

  <a href="/listings/order/{{ listing._id }}" id="order-button-link"
    ><button class="btn btn-primary btn-lg" id="order-button">
      Order Now
    </button></a
  >

  <h2>Details</h2>
  <p><strong>Color:</strong> {{ car.color }}</p>
  <p><strong>Category:</strong> {{ car.category }}</p>
  <p><strong>Listing Description:</strong> {{ listing.description }}</p>

  <!-- Mechanic Reviews -->
  {{#if listing.mechanicReviews.length}}
  <h2>Mechanic Reviews</h2>
  <ul>
    {{#each listing.mechanicReviews}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
  {{else}}
  <p>No mechanic reviews available.</p>
  {{/if}}

  <p><strong>Status:</strong> {{ listing.status }}</p>
  <p><strong>Listed on:</strong> {{ listing.createdAt }}</p>
  <p><strong>Last Updated:</strong> {{ listing.updatedAt }}</p>

  <!-- Seller Information -->
  <h2>Seller Information</h2>
  <p><strong>Name:</strong> {{ seller.firstName }} {{ seller.lastName }}</p>
  <p><strong>Email:</strong> {{ seller.email }}</p>
</div>
<script>
  const listing = {{{json listing}}}
  if (listing.status === "reserved") {
    document.getElementById("order-button").disabled = true
    document.getElementById("order-button").classList.add("disabled")
    document.getElementById("order-button-link").addEventListener("click", (e) =>{
      e.preventDefault()
    })
    document.getElementById("order-button-link").insertAdjacentHTML('afterend', "<p class='pt-3 fs-5'> Current listing has been reserved, please contact seller for more information. </p>")
  }
</script>
