<div class="container mt-4">
  
  {{> partSearchBar}}

  <h1>{{#if searchQuery}}Search Results for "{{searchQuery}}"{{else}}Parts List{{/if}}</h1>

  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}

  {{#if results.length}}
    <ul class="list-group">
      {{#each results}}
        <li class="list-group-item">
          <strong>{{name}}</strong> - {{description}}<br>
          Price: ${{price}}<br>
          Added on: {{createdAt}}<br>
          
          {{#if tags.length}}
            <div class="mt-2">
              <h5>Tags:</h5>
              <ul class="list-inline">
                {{#each tags}}
                  <li class="list-inline-item badge bg-secondary">{{this}}</li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
          
          <a href="/parts/{{_id}}">View Part</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No parts found matching your criteria.</p>
  {{/if}}
</div>

<a href="/">Return to Homepage</a>

<script>
  {{#if user}}
    const user = {{{json user}}};
  {{else}}
    const user = null;
  {{/if}}
</script>
<script src="/scripts/search.js"></script>
