<div id="seller-central-page" class="seller-central-page">
  {{#if isSeller}}
  <p class="fs-3">Welcome back, {{ user.firstName }}!</p>
  <p class="">
    There is <span id="listing-attention-num">0</span> listings require your
    attention.
  </p>
  <ul class="search-grid container w-100" id="attention-list"></ul>

  <div class="d-flex">
    <h3 class="py-2 px-4 fs-4 mb-0" role="button" id="active-page">
      Active Listings
    </h3>
    <h3 class="py-2 px-4 fs-4 mb-0" role="button" id="review-page">
      Under Review
    </h3>
    <h3 class="py-2 px-4 fs-4 mb-0" role="button" id="sold-page">
      Sold Listings
    </h3>
  </div>

  <hr class="mt-0" />
  <div class="d-flex justify-content-between m-3">
    <div class="input-group w-auto">
      <div class="input-group-prepend">
        <label class="input-group-text" for="seller-list-filter">Display</label>
      </div>
      <select class="custom-select" id="seller-list-filter">
        <option selected value="all">All</option>
        <option value="car">Cars</option>
        <option value="part">Parts</option>
      </select>
    </div>

    <button class="btn btn-primary" id="add-listing">Add Listing</button>
  </div>
  {{#if listings}}

  <ul class="search-grid container w-100" id="user-listings"></ul>
  <p class="fs-5 mx-2" id="seller-listing-info"></p>

  {{else}}
  <p class="fs-4">
    You don't have anything listed, lets start by add a new listing.
  </p>
  {{/if}}

  {{else}}
  {{> sell}}
  {{/if}}
</div>

<div id="seller-add-page" class="d-none">{{> addListingGuide}}</div>

<script>
  const isSeller = {{{json isSeller}}}
  const listings = {{{json listings}}}
  const user = {{{json user}}}
</script>
<script src="/scripts/seller.js"></script>
