<div class="user-page">
  <div class="card p-5 shadow user-profile">
    <div class="user-image-wrapper">
      <img src="{{ user.avatar }}" alt="user's avatar" class="user-image" />
    </div>
    <div class="user-personal-info">
      <h3>{{ user.userName }}</h3>
      <div class="user-badge">
        <img
          src="/images/expert_badge.png"
          alt="expert badge"
          class="badge-icon"
        />
      </div>
    </div>
    <div class="user-panel-tab"></div>
  </div>
  <div class="card shadow user-space">
    <div class="d-flex mb-4 align-items-center">
      <h3 class="border-end border-start px-3 text-secondary" id="profile-tab">
        Profile
      </h3>
      <h3 class="border-end px-3 text-secondary" id="purchase-tab">
        Purchases
      </h3>
    </div>
    <div id="profile-page">
      <div class="d-flex justify-content-between">
        <h2>Welcome back, {{ user.firstName }}</h2>
        <div>
          Edit
          <i class="fa-solid fa-pen-to-square avatar-edit" id="edit-user"></i>
        </div>
      </div>

      <hr />
      <div class="d-flex justify-content-between">
        <p>User name:</p>
        <p>{{ user.userName }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>First name:</p>
        <p>{{ user.firstName }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Last name:</p>
        <p>{{ user.lastName }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Email:</p>
        <p>{{ user.email }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Role:</p>
        <p>{{ user.role }}</p>
      </div>
      <hr />
    </div>
    <div id="purchase-page">
      <h3 id="ordered-number" class="fs-4"></h3>
      <ul id="ordered-list"></ul>
      <hr />
      <h3 id="history-number" class="fs-4"></h3>
      <ul id="history-list"></ul>
    </div>
  </div>
</div>

<script>
  const user = {{{json user}}};
  const listings = {{{json listings}}}
  console.log(listings)
</script>
<script src="/scripts/user.js"></script>
